.nav-link {
    display: inline-block;
}
/* .top-bar{
    display: inline-block;
} */
header{
    top: 0;
    font-size: 15px;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 60vw;
}
h1{
    text-align: center;
}
nav ul{
    width: 35vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#nav-bar a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
#header-img{
    width: 200px;
    height: 200px;
}
.center {
    text-align: center;
    margin-top: 30px;
}
.input-form {
    display: flex;
    justify-content: center;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email {
   /* justify-content: center; */
   width: 250px;
   height: 25px;
}
#submit {
    flex-direction: column;
    background-color: #d3b11d;
    text-transform: uppercase;
    margin-top: 10px;
    width: 130px;
    text-align: center;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 10px;
    border: none;
}
 #features {
    display: flex;
    flex-direction: column;

}

.premium {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.description {
    margin-left: 50px;
}
.icon{
    text-align: left;
}
.premium .description p {
    max-width: 725px;
}
#how-it-works {
    display: flex;
    justify-content: center;
}
#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#features h3 {
    color: #d42a2a;
}
.price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 25%;
    border: 1px solid black;
    margin-left: 8px;
    margin-right: 8px;

}
.price-box p {
    max-width: 100px;
}
.price-box h3{
    background-color: #d42a2a;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    color: #fff;
}
button {
    width: 90px;
    height: 35px;
    background-color: #d3b11d;
    margin-bottom: 20px;
    border: none;
}

.page-wrapper {
    position: relative;
}
footer {
    text-align: center;
    background-color: #665855;
    color: #fff;
    height: 110px;
    margin-top: 10px;
    line-height: 3px;
}
footer h4{
    padding-top: 30px;
}
footer a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 650px){
    .header { flex-wrap: wrap;}

    nav {margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    nav ul {
        flex-direction: column;
    }
    nav li {
        padding-bottom: 5px;
    }
    .logo img {
        margin: 0 auto;
    }
    .logo {
        margin-top: 15px;
        width:100%;
        position: relative;
    /* padding: 0;
    box-sizing: border-box; */
    }
}

@media (max-width: 950px){
    #pricing {
        flex-direction: column;
        align-items: center;
    }
    .price-box {
        width: 250px;
    }
}
